<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/SIMPLE_LIBRARY_MANAGEMENT_SYSTEMS_IN_JAVA_WITH_SOURCE_CODE/simple library system/src/databaseproject/DataBaseProject.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="databaseproject.DataBaseProject"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="SIMPLE_LIBRARY_MANAGEMENT_SYSTEMS_IN_JAVA_WITH_SOURCE_CODE"/>
</launchConfiguration>
